# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!libmysql.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Files
Release/
*.opensdf
*.sdf
*.sln
